###############################################################################
#   Variables d'environnement                                                 #
###############################################################################
.env
###############################################################################
#   Build PlatformIO                                                          #
###############################################################################
Device/.pio
Device/data
Tests/Distance/Device/.pio
###############################################################################
#   Environnement virtuel Python                                              #
###############################################################################
.venv
###############################################################################
#   Cache Python                                                              #
###############################################################################
Server/**/__pycache__
Tests/**/__pycache__
###############################################################################
#   Logs                                                                      #
###############################################################################
Logs
###############################################################################
#   Fichiers générés                                                          #
###############################################################################
DOCUMENTATION*
Device/doc
Server/doc
###############################################################################
