###############################################################################
#   Variables d'environnement                                                 #
###############################################################################
.env
###############################################################################
#   Build PlatformIO                                                          #
###############################################################################
Device/.pio
Device/data
Tests/Distance/.pio
Tests/Distance/data
###############################################################################
#   Environnement virtuel Python                                              #
###############################################################################
.venv
###############################################################################
#   Cache Python                                                              #
###############################################################################
Server/**/__pycache__
Tests/**/__pycache__
UltraWideBand/**/__pycache__
###############################################################################
#   Logs                                                                      #
###############################################################################
Logs
###############################################################################
#   Fichiers générés                                                          #
###############################################################################
DOCUMENTATION*
Device/doc
Server/doc
Resources/Data/gatewayContact.txt
###############################################################################
