/* =========================================================================
    Body
   ========================================================================= */

body
{
	background-color: var(--body-background);
}

/* =========================================================================
    Header
   ========================================================================= */

header
{
	background-color: var(--header-background);
	display: grid;
	grid-template-columns: 0.5fr 1fr 0.5fr;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
	margin: 5vh 10vw;
	padding: 2vh 2vw;
	border-radius: 15px;
	border: 5px solid var(--header-border);
}



h1
{
	font-size: 50px;
	text-align: center;
	grid-column: 2;
}

/* =========================================================================
    Main
   ========================================================================= */

h2
{
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
}



/* ---------- Grille ---------- */
#grid
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2.5vh 5vw;
	align-items: center;
	padding: 3vh 5vw;
	margin-bottom: 2.5vh;
	height: 70vh;
	overflow-y: auto;
}



/* ---------- Carte ---------- */
.card
{
	background-color: var(--card-background);
	display: grid;
	align-items: center;
	border-radius: 15px;
	border: 5px solid var(--card-border);
	cursor: pointer;
	padding: 2vh 2vw;
}
.card:hover
{
	background-color: var(--card-hover-background);
	border-color: var(--card-hover-border);
}
.card:active
{
	transform: translateY(2px);
}
.id
{
	font-size: 25px;
	font-weight: bold;
}
.name
{
	font-size: 25px;
	font-weight: bold;
}
