/* =========================================================================
    Body
   ========================================================================= */

body
{
    background-color: var(--body-background);
}

/* =========================================================================
    Header
   ========================================================================= */

header
{
    background-color: var(--header-background);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 5vh 10vw;
    padding: 2vh 2vw;
    border-radius: 15px;
    border: 5px solid var(--header-border);
}



h1
{
    font-size: 50px;
}



h2
{
    color: var(--color);
	font-size: 50px;
}



.button
{
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    padding: 1vh 1vw;
    background-color: var(--back-button-background);
}
.button:active
{
    transform: translateY(2px);
}

/* =========================================================================
    Main
   ========================================================================= */

/* ---------- grille ---------- */
.grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0 10vw;
}



/* ---------- carte ---------- */
.card
{
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 10vh;
    border-radius: 15px;
    border: 5px solid var(--card-border);
}
.card > p
{
    font-weight: bold;
    font-size: 30px;
}
.value
{
    color: var(--color);
}



/* ---------- graphique ---------- */
.chart-container
{
    display: flex;
    align-items: center;
    width: 90%;
    height: 60vh;
    margin: 5vh auto 5vh auto;
}
