<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Configuration des évènements</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Control/configuration.css') }}">
    </head>
    <body>
        <header>
            <h1>Configuration du contrôle des évènements</h1>
        </header>
        <main>
            <p id="error" class="hidden">
                Le nom de la configuration existe déjà
            </p>
        	<form>
        		<input name="name" type="text" placeholder="Nom de la configuration">
        		<button id="save">Sauvegarde</button>
        		<div id="pannel">
        			{% for category in events.config %}
                    <div class="category">
                        <h2>{{ category.category }}</h2>
                        {% for event in category.event %}
                        <div class="event">
                            <label for="{{ event.name }}">{{ event.name }}</label>
                            <input id="{{ event.name }}" class="hidden" name="{{ event.name }}" type="checkbox" {% if event.enable %} checked {% endif %} code="{{ event.code }}">
                            <span class="checkbox-custom {% if event.enable %}checked{% endif %}" onclick="toggleCheck(this)"></span>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
        		</div>
        	</form>
        </main>
        <script src="{{ url_for('static', filename='lib/socket.io.min.js') }}"></script>
        <script>
            // Définition des variables dynamiques
            window.DEBUG = {{ debug }};
        </script>
        <script src="{{ url_for('static', filename='js/Control/configuration.js') }}"></script>
    </body>
</html>
