<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Contrôle d'évènements</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Control/event.css') }}">
    </head>
    <body>
        <header>
            <h1>Contrôle des évènements du match</h1>
        </header>
        <main>
            <div>
                <button onclick="window.location.href+='/preparation'">Préparation d'avant match</button>
                <div id="pannel">
                    {% for category in events.config %}
                    <div class="category">
                        <h2>{{ category.category }}</h2>
                        {% for event in category.event %}
                        {% if event.enable %}
                        <div class="event">
                            <button onclick='newEvent("{{ event.name }}", {{ event.code }})'>{{ event.name }}</button>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div id="event">
                    <h2>Récapitulatif des évènements en direct</h2>
                    <div id="event-list">   
                    </div>
                    <div id="event-selected" class="hidden">
                        <div>
                            <h3></h3>
                            <p class="hidden"></p>
                            <form>
                                <label class="hidden">
                                    Timestamp:
                                    <input name="Timestamp" type="text">
                                </label>
                                <label class="hidden">
                                    Minute de jeu:
                                    <input name="Minute de jeu" type="number" min="1" max="135">
                                </label>
                                <select name="Équipe" class="hidden">
                                    <option selected>Équipe</option>
                                    <option team="domicile">{% if lastInformation %}{{ domicile.team }}{% else %}Domicile{% endif %}</option>
                                    <option team="exterieur">{% if lastInformation %}{{ exterieur.team }}{% else %}Exterieur{% endif %}</option>
                                </select>
                                <select name="Joueur" class="hidden">
                                    <option selected>Joueur</option>
                                    {% for player in domicile.player %}
                                    <option team="domicile">{{ player.name }} | {{ player.number }}</option>
                                    {% endfor %}
                                    {% for player in exterieur.player %}
                                    <option team="exterieur">{{ player.name }} | {{ player.number }}</option>
                                    {% endfor %}
                                </select>
                                <select name="Joueur fautif" class="hidden">
                                    <option selected>Joueur fautif</option>
                                    {% for player in domicile.player %}
                                    <option team="domicile">{{ player.name }} | {{ player.number }}</option>
                                    {% endfor %}
                                    {% for player in exterieur.player %}
                                    <option team="exterieur">{{ player.name }} | {{ player.number }}</option>
                                    {% endfor %}
                                </select>
                                <select name="Joueur victime" class="hidden">
                                    <option selected>Joueur victime</option>
                                    {% for player in domicile.player %}
                                    <option team="domicile">{{ player.name }} | {{ player.number }}</option>
                                    {% endfor %}
                                    {% for player in exterieur.player %}
                                    <option team="exterieur">{{ player.name }} | {{ player.number }}</option>
                                    {% endfor %}
                                </select>
                                <select name="Joueur sortant" class="hidden">
                                    <option selected>Joueur sortant</option>
                                    {% for player in domicile.player %}
                                    <option team="domicile">{{ player.name }} | {{ player.number }}</option>
                                    {% endfor %}
                                    {% for player in exterieur.player %}
                                    <option team="exterieur">{{ player.name }} | {{ player.number }}</option>
                                    {% endfor %}
                                </select>
                                <select name="Joueur entrant" class="hidden">
                                    <option selected>Joueur entrant</option>
                                    {% for player in domicile.player %}
                                    <option team="domicile">{{ player.name }} | {{ player.number }}</option>
                                    {% endfor %}
                                    {% for player in exterieur.player %}
                                    <option team="exterieur">{{ player.name }} | {{ player.number }}</option>
                                    {% endfor %}
                                </select>
                                <label class="hidden">
                                    Cause:
                                    <input name="Cause" type="text">
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="{{ url_for('static', filename='lib/socket.io.min.js') }}"></script>
        <script>
            // Définition des variables dynamiques
            window.DEBUG = {{ debug }};
            window.config = "{{ config }}".replace(/&#39;/g, "'").replace(/&#34;/g, '"');
            window.configInformation = "{{ configInformation }}".replace(/&#39;/g, "'").replace(/&#34;/g, '"');
            window.deleteLightIcon = "{{ url_for('static', filename='icon/delete-light.png') }}";
            window.modifyLightIcon = "{{ url_for('static', filename='icon/modify-light.png') }}";
            window.deleteDarkIcon = "{{ url_for('static', filename='icon/delete-dark.png') }}";
            window.modifyDarkIcon = "{{ url_for('static', filename='icon/modify-dark.png') }}";
        </script>
        <script type="module" src="{{ url_for('static', filename='js/Control/event.js') }}"></script>
    </body>
</html>
