<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Contrôle d'évènement</title>
        <link rel="stylesheet" href="{{ url_for('static, filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Control/event.css') }}">
    </head>
    <body>
        <header>
            <h1>Contrôle des évènements du match</h1>
        </header>
        <button>Préparation d'avant match</button>
        <button>Récapitulatif des évènements du match</button>
        <div id="panel">
            <div class="category">
                <div class="button">
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='lib/socket.io.min.js') }}"></script>
        <script>
            // Définition des variables dynamiques
            window.DEBUG = {{ debug }};
        </script>
        <script type="module" src="{{ url_for('static', filename='js/Control/event.js') }}"></script>
    </body>
</html>
