/* =========================================================================
    Body
   ========================================================================= */

body
{
    background-color: var(--body-background);
}

/* =========================================================================
    Header
   ========================================================================= */

header
{
	background-color: var(--header-background);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 3vh 10vw 5vh 10vw;
    padding: 2vh 2vw;
    border-radius: 15px;
    border: 5px solid var(--header-border);
}



h1
{
    font-size: 50px;
    grid-column: 1 / 4;
}

/* =========================================================================
    Main
   ========================================================================= */

main
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: 75vh;
    margin: 0 auto 5vh auto;
    align-items: start;
}
main > div:first-child
{
    display: flex;
    flex-direction: column;
    align-items: center;
	margin: 0 2vw;
}
main > div:first-child > button
{
	font-size: 20px;
	padding: 0.5vh 2.5vw;
	cursor: pointer;
	background-color: var(--button-background);
	border: 2px solid var(--button-border);
	border-radius: 5px;
}
main > div:first-child > button:active
{
	transform: translateY(2px);
}
main > div:last-child
{
	background-color: var(--card-background);
	display: flex;
	flex-direction: column;
	padding: 1vh 1vw;
	margin-right: 2vw;
	height: 100%;
	overflow: hidden;
	border: 5px solid var(--card-border);
	border-radius: 5px;
}



/* ---------- Catégorie ---------- */
#pannel
{
	display: flex;
	justify-content: center;
	gap: 2vw;
	width: 100%;
	margin-top: 5vh;
}
.category
{
	background-color: var(--card-background);
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	border: 5px solid var(--card-border);
	border-radius: 15px;
	padding: 2vh 1vw;
}
.category h2, .event-list h2
{
	font-size: 30px;
	text-align: center;
	padding-bottom: 1vh;
	margin-bottom: 1vh;
	border-bottom: 2px solid var(--card-border);
}

/* ---------- Évènement ---------- */
.event
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1vw;
	width: 90%;
	margin: 1vh 0 0 5%;
}
.event button
{
	font-size: 20px;
	cursor: pointer;
	padding: 0.5vh 0.5vw;
	width: 100%;
	background-color: var(--button-background);
	border: 2px solid var(--button-border);
	border-radius: 5px;
}
.event button:active
{
	transform: translateY(2px);
}



/* ---------- Liste des évènements ---------- */
#event
{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
#event h2
{
	text-align: center;
	width: 90%;
	margin-bottom: 1vh;
	padding-left: 5%;
}
#event-list > div
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1vh 1vw;
	gap: 1vw;
}
#event-list > div > p
{
	font-size: 20px;
}
#event-list > div > div
{
	display: flex;
	gap: 0.5vw;
}
#event-list > div img
{
	flex-shrink: 0;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
#event-list > div img:active
{
	transform: translateY(2px);
}
#event-list
{
	flex: 1;
	overflow-y: auto;
	border-top: 2px solid var(--card-border);
}



/* ---------- Évènement sélèctionné ---------- */
#event-selected
{
	margin-top: auto;
	border-top: 2px solid var(--card-border);
}



.hidden
{
	display: none;
}
