/* =========================================================================
    Body
   ========================================================================= */

body
{
    background-color: var(--body-background);
}

/* =========================================================================
    Header
   ========================================================================= */

header
{
	background-color: var(--header-background);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 3vh 10vw 5vh 10vw;
    padding: 2vh 2vw;
    border-radius: 15px;
    border: 5px solid var(--header-border);
}



h1
{
    font-size: 50px;
    grid-column: 1 / 3;
}



.button
{
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    padding: 1vh 1vw;
    background-color: var(--back-button-background);
}
.button:active
{
	transform: translateY(2px);
}

/* =========================================================================
    Main
   ========================================================================= */

main
{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}



h2
{
	font-size: 50px;
	text-align: center;
	margin-bottom: 1vh;
}



input[type="text"], input[type="number"], select
{
	background-color: var(--input-background);
	border-color: var(--input-border);
}



/* ---------- Domicile ---------- */
#domicile
{
	display: flex;
}



/* ---------- Exterieur ---------- */
#exterieur
{
	display: flex;
}



/* ---------- Match ---------- */
#match
{
	position: sticky;
	top: 50%;
	transform: translateY(-60%);
}
.match-config
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.match-config label
{
	font-size: 40px;
	text-align: center;
}
.match-config input, .match-config select
{
	font-size: 30px;
	text-align: center;
	padding: 0.5vh 1vw;
	margin: 1vh 0 2vh 0;
	border: 1px solid black;
	border-radius: 5px;
}



/* ---------- Équipe ---------- */
.team-config
{
	background-color: var(--card-background);
	display: flex;
	flex-direction: column;
    border: 5px solid var(--card-border);
    border-radius: 15px;
    padding: 3vh 1vw;
}
.team, .coach
{
	width: 90%;
	margin-left: 5%;
	padding-bottom: 2vh;
	margin-bottom: 2vh;
	border-bottom: 2px solid var(--card-border);
}
.team input, .coach input
{
	margin-left: 10%;
}
.player
{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: 5%;
}
.player div
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1vw;
	margin: 0.5vh 0;
}
.player input
{
	font-size: 20px;
	text-align: left;
	padding: 0.5vh 0.5vw;
	margin-bottom: 1vh;
	border: 1px solid black;
	border-radius: 5px;
}
.team input, .coach input
{
	font-size: 30px;
	text-align: center;
	width: 80%;
	padding: 0.5vh 1vw;
	border: 1px solid black;
	border-radius: 5px;
}
.player input[type="text"]
{
	flex: 1;
}
.player input[type="number"]
{
	width: 80%;
	text-align: center;
	padding: 0.5vh 0;
}



/* ---------- Flèche d'incrémentation/décrémentation ---------- */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]
{
    -moz-appearance: textfield;
}
