<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Comparaison</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Dashboard/comparison.css') }}">
        <style>
            :root 
            {
                --color: {{ color }};
            }
        </style>
    </head>
    <body>
        <header>
            <h1></h1>
            <a href="/" class="button">← Retour</a>
        </header>
        <main>
            <div class="chart-container">
                <canvas id="chart"></canvas>
            </div>
        </main>
        <script src="{{ url_for('static', filename='lib/socket.io.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/chart.umd.min.js') }}"></script>
        <script>
            // Définition des variables dynamiques
            window.DEBUG = {{ debug }};
            window.sensorDelay = {{ sensorDelay }};
            window.data = "{{ data }}";
            window.type = "{{ type }}";
        </script>
        <script type="module" src="{{ url_for('static', filename='js/Dashboard/comparison.js') }}"></script>
    </body>
</html>
