<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Dashboard/index.css') }}">
    </head>
    <body>
        <header>
            <h1>Dashboard de monitoring</h1>
        </header>
        <main>
            <h2>Données des supporters en temps réel</h2>
            <div id="gridSupporter">
            </div>
            <h2>Données des tribunes en temps réel</h2>
            <div id="gridStadiumBleacher">
            </div>
        </main>
        <script src="{{ url_for('static', filename='lib/socket.io.min.js') }}"></script>
        <script>
            // Définition des variables dynamiques
            window.DEBUG = {{ debug }};
        </script>
        <script type="module" src="{{ url_for('static', filename='js/Dashboard/index.js') }}"></script>
    </body>
</html>
